/* Basic Reset using the universal selector */
/* Box-sizing property itself is not inherited but by setting th box-sizing property inherited */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* 1 rem=10px */
/* html setting root font-size of the page */
html {
  font-size: 62.5%; //   10/16=62.5%
  /* by giving the font-size in % we allow the user to zoom-in or zoom-out or set/change the font-size by themselves  */

  @include respond(tablet-landscape) {
    //width = 1200;
    font-size: 56.25%; //1rem =9px, 9/16=56.25%
  }
  @include respond(tablet-potrait) {
    //width = 900
    font-size: 50%; //1rem =8px , 8/16=50%
  }
  // @include respond(phone) {
  //   font-size: 30%; //1rem =4.8px , 4.8/16=30%
  // }

  @include respond(big-desktop) {
    //width = 1800
    font-size: 75%; //1rem =12px, 12/16=75%
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tablet-potrait) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
